@value radius from "../../shared/settings.css";

.base {
  composes: wrapper from "../../shared/layout.css";
  border-radius: radius;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
