@value color-dark, color-light from "../../shared/settings.css";

.base {
  width: 100%;
  border: 0;
  padding: 20px 5%;
  line-height: 1;
  font-size: 26px;
  position: fixed;
  bottom: 0;
  color: color-light;
  background-color: color-dark;
  outline: 0;
}
