@value color-light, color-primary-alt from "../../shared/settings.css";

.base {
  width: 25%;
  height: 40px;
  margin: 20px auto;
  background: url('img/spinner.gif') no-repeat center;
  background-size: 25%;
}
