@value color-dark, color-light, color-primary-alt, color-secondary-alt from "../../shared/settings.css";
@value radius: 15px;

.base {
  min-width: 50%;
  max-width: 75%;
  margin: 20px;
  padding: 20px;
  border-bottom-right-radius: radius;
  border-bottom-left-radius: radius;
  box-shadow: 5px 5px 20px 0px color(black a(0.2));
  word-wrap: break-word;
}

.bot {
  border-top-right-radius: radius;
  align-self: flex-start;
  background-color: color-primary-alt;
  color: color-light;
}

.human {
  border-top-left-radius: radius;
  align-self: flex-end;
  background-color: color-secondary-alt;
  color: color-dark;
  text-align: right;
}
