@value color-dark, color-light, color-primary-alt, color-secondary-alt from "../../shared/settings.css";
@value radius: 15px;

.base {
  opacity: 0.01;
  composes: creep from "../../shared/animation.css";
  min-width: 50%;
  max-width: 75%;
  margin: 20px 20px 5px;
  padding: 20px;
  border-bottom-right-radius: radius;
  border-bottom-left-radius: radius;
  word-wrap: break-word;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.bot {
  border-top-right-radius: radius;
  align-self: flex-start;
  background-color: color-primary-alt;
  color: color-light;
}

.human {
  border-top-left-radius: radius;
  align-self: flex-end;
  background-color: color-secondary-alt;
  color: color-dark;
  text-align: right;
}
