/* GLOBAL */

@value color-secondary-alt from "./settings.css";

:global body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

:global #root {
  height: 100%;
  background-color: color-secondary-alt;
}
