/* GLOBAL */

@value color-secondary-alt from "./settings.css";

:global html {
  height: 100%;
}

:global body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

:global #root {
  min-height: 100%;
  background-color: #6E8390;
}
