/* SETTINGS */

/* breakpoints */

@value small: (max-width: 40em);
@value above-small: (min-width: 40em);
@value large: (min-width: 64em);
@value retina: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

/* dimensions */

@value content-width: 1280px;
@value gutter-side: 20px;
@value gutter-vertical: 20px;

/* fonts */

@value font-size: 14px;

/* colors */

@value color-dark: #50514F;
@value color-dark-alt: #5D737E;
@value color-light: #F1FAEE;
@value color-primary: #000099;
@value color-primary-alt: #247BA0;
@value color-secondary: #FFCC00;
@value color-secondary-alt: #FFE066;
@value color-accent: #A8DADC;
@value color-error: #F25F5C;
