@value color-light, color-dark from "../shared/settings.css";

.base {
  padding: 20px;
}

.logo {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  background: url('img/logo.png') no-repeat 0 0 color(white a(0.4));
  background-size: cover;
  cursor: cell;
  transition: 1s ease-in-out;

  &:hover {
    transform: rotate(720deg);
    filter: blur(2px);
  }
}

.wtf {
  margin-top: 10px;
  text-align: center;
  color: color-light;
}

.who {
  font-size: 12px;
  text-align: center;
  color: color-light;
}

.link {
  border-bottom: 1px solid color-light;
  color: color-light;
  text-decoration: none;

  &:hover {
    background-color: color-light;
    color: color-dark;
  }
}
